.content {
  display: block;
  width: 1200px;
  height: 800px;
  text-align: center;
  margin: 100px auto;
  border: 1px solid black;
  display: block;
}

.content__header {
  margin: 50px;
}

.autocomplete__text {
  margin-top: 80px;
  margin-bottom: 0px;
  padding: 5px;
  font-size: 18px;
  width: 300px;
}

.autocomplete__list {
  list-style-type: none;
  background-color: white;
  margin: 0;
}

.autocomplete__item {
  border: 1px solid gray;
  font-size: 18px;
  padding: 5px;
  width: 150px;
  margin: 0;
  margin-left: 405px;
}

.autocomplete__item:hover {
  border: 1px solid black;
  cursor: pointer;
}
